.phone_input_container {
   margin-top: 13px;
}

.phone_input {
   width: 100% !important;
   padding-top: 19px !important;
   padding-bottom: 19px !important;
   border: 2px solid #DFDFE6 !important;
}